.title {
  padding-top: 10px;
  text-align: center;
}

div.container > div.p-cards {
  padding: 40px 0;
}
div.p-cards div.card {
  margin: 10px;
}
div.p-cards div.carousel {
  margin: 10px;
}

.carousel-item {
  /* height: 30rem; */
  background-color: lightgrey;
}

div.container div.carousel-inner {
  height: 800px;
}
